{% extends 'expenses/base.html' %}

{% block content %}
<div class="container text-center mt-5">
    <div class="card-glass mx-auto" style="max-width: 500px;">
        <h1>📂 Export Data</h1>
        <p class="text-white-50 mt-3">
            உங்கள் கணக்கு வழக்குகளை EXCEL ஃபைலாக டவுன்லோட் செய்து வைத்துக்கொள்ளுங்கள்.
        </p>
        <div class="mt-4">
            <a href="{% url 'export_csv' %}" class="btn btn-custom w-100">
                📥 Download Report
            </a>
        </div>
    </div>
</div>
{% endblock %}