{% extends 'expenses/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card-glass mb-3 text-center">
            <h5>🎯 Budget Limit: ₹{{ budget_limit }}</h5>
            <a href="{% url 'set_budget' %}" class="btn btn-sm btn-warning w-100 fw-bold">⚙️ Change Limit</a>
        </div>
        <div class="card-glass mb-4">
            <h4>➕ Add Expense</h4>
            <form method="POST">{% csrf_token %}{{ form.as_p }}<button type="submit" class="btn btn-custom w-100">Save</button></form>
        </div>
    </div>
    <div class="col-md-8">
        {% if is_over_budget %}
        <div class="alert alert-danger text-center fw-bold">🚨 பட்ஜெட் தாண்டி போகுது! "ஓடவும் முடியாது, ஒளியவும் முடியாது!"</div>
        {% endif %}
        <div class="card-glass mb-3 text-center p-3" style="border: 2px solid #38ef7d;">
            <h3>💰 Total Spent: ₹{{ total_amount }}</h3>
        </div>
        <div class="card-glass">
            <div class="d-flex justify-content-between mb-3 align-items-center">
                <h4>📜 History</h4>
                <form method="GET" class="d-flex"><input type="text" name="search" placeholder="Search..." class="form-control form-control-sm me-2" value="{{ search_query|default:'' }}"><button class="btn btn-sm btn-custom">🔍</button></form>
            </div>
            <table class="table table-dark">
                <thead><tr><th>Date</th><th>Title</th><th>Category</th><th>Amount</th><th>Action</th></tr></thead>
                <tbody>
                    {% for e in expenses %}
                    <tr><td>{{ e.date }}</td><td>{{ e.title }}</td><td>{{ e.category }}</td><td class="text-warning">₹{{ e.amount }}</td><td><a href="{% url 'edit_expense' e.id %}">Edit</a> <a href="{% url 'delete_expense' e.id %}">Delete</a></td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
